.mydropzone,
.mydropzone * {
  box-sizing: border-box;
}

.mydropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

.mydropzone.dz-clickable {
  cursor: pointer;
}

.mydropzone.dz-clickable * {
  cursor: default;
}

.mydropzone.dz-clickable .dz-message,
.mydropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

.mydropzone.dz-started .dz-message {
  display: none;
}

.mydropzone.dz-drag-hover {
  border-style: solid;
}

.mydropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

.mydropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.mydropzone .dz-message .dz-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.mydropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}

.mydropzone .dz-preview:hover {
  z-index: 1000;
}

.mydropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

.mydropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview.dz-image-preview {
  background: white;
}

.mydropzone .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}

.mydropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.mydropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.mydropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.mydropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

.mydropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.mydropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.mydropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mydropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.mydropzone .dz-preview .dz-details .dz-filename span,
.mydropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

.mydropzone .dz-preview:hover .dz-image img {
  transform: scale(1.05, 1.05);
  filter: blur(8px);
}

.mydropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

.mydropzone .dz-preview .dz-image img {
  display: block;
  width: 100%;
}

.mydropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.mydropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.mydropzone .dz-preview .dz-success-mark,
.mydropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.mydropzone .dz-preview .dz-success-mark svg,
.mydropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

.mydropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}

.mydropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.mydropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

.mydropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.mydropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}

.mydropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}

.mydropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

.mydropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}

.mydropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

.mydropzone,
.mydropzone * {
  box-sizing: border-box;
}

.mydropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

.mydropzone.dz-clickable {
  cursor: pointer;
}

.mydropzone.dz-clickable * {
  cursor: default;
}

.mydropzone.dz-clickable .dz-message,
.mydropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

.mydropzone.dz-started .dz-message {
  display: none;
}

.mydropzone.dz-drag-hover {
  border-style: solid;
}

.mydropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

.mydropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.mydropzone .dz-message .dz-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.mydropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}

.mydropzone .dz-preview:hover {
  z-index: 1000;
}

.mydropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

.mydropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview.dz-image-preview {
  background: white;
}

.mydropzone .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}

.mydropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.mydropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.mydropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.mydropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.mydropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

.mydropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.mydropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.mydropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mydropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.mydropzone .dz-preview .dz-details .dz-filename span,
.mydropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

.mydropzone .dz-preview:hover .dz-image img {
  transform: scale(1.05, 1.05);
  filter: blur(8px);
}

.mydropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

.mydropzone .dz-preview .dz-image img {
  display: block;
}

.mydropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.mydropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.mydropzone .dz-preview .dz-success-mark,
.mydropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.mydropzone .dz-preview .dz-success-mark svg,
.mydropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

.mydropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}

.mydropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.mydropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

.mydropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.mydropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}

.mydropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}

.mydropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

.mydropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}

.mydropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

mydropzone {
  border: none !important;
  padding: 0;
  /*height: 1900px!important;*/
  display: inline-block;
  width: 100%;
}

.mydropzone .dz-preview .dz-image {
  border-radius: 0 !important;
}

.mydropzone_single .dz-image img {
  width: 100% !important;
}

.mydropzone .dz-preview .dz-image {
  height: 100% !important;
  width: 100% !important;
}

.mydropzone .dz-preview.dz-image-preview,
.mydropzone .dz-preview.dz-file-preview {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 10px 0;
}

.single_mydropzone .mydropzone .dz-preview.dz-image-preview {
  width: 100%;
}

.mydropzone_single {
  border-bottom: 1px solid #ccc !important;
}

.mydropzone_single .mydropzone .dz-preview {
  width: 100%;
}

#my-awesome-mydropzone .mydropzone .dz-preview {
  width: 24%;
}

.mydropzone .dz-preview.dz-image-preview {
  /*float: left;*/
}

.mydropzone .dz-preview:nth-child(5n+1) {
  clear: both;
}

.dz-details {
  padding-bottom: 5px !important;
}

.table-bordered > thead > tr > th {
  white-space: nowrap;
}

.first_row_no_border .table > tbody > tr:first-child > td {
  border-top: 0;
}

.mydropzone {
  border: none;
}

.mydropzone .dz-preview .dz-details {
  padding: 2.5em 1em;
}

.mydropzone .dz-preview .dz-details .dz-filename {
  position: relative;
}

.mydropzone .dz-preview .dz-details .dz-filename input[type=radio] {
  opacity: 1;
  left: 0;
  position: relative;
}

.mydropzone {
  border: none !important;
  padding: 0;
  /*height: 1900px!important;*/
  display: inline-block;
  width: 100%;
}

.mydropzone .dz-preview .dz-image {
  border-radius: 0 !important;
}

.mydropzone_single .dz-image img {
  width: 100% !important;
}

.mydropzone .dz-preview .dz-image {
  height: 100% !important;
  width: 100% !important;
}

.mydropzone .dz-preview.dz-image-preview,
.mydropzone .dz-preview.dz-file-preview {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 10px 0;
}

.single_mydropzone .mydropzone .dz-preview.dz-image-preview {
  width: 100%;
}

.mydropzone_single {
  border-bottom: 1px solid #ccc !important;
}

.mydropzone_single .mydropzone .dz-preview {
  width: 100%;
}

#my-awesome-mydropzone .mydropzone .dz-preview {
  width: 24%;
}

.mydropzone .dz-preview.dz-image-preview {
  /*float: left;*/
}

.mydropzone .dz-preview:nth-child(5n+1) {
  clear: both;
}

.dz-details {
  padding-bottom: 5px !important;
}

.table-bordered > thead > tr > th {
  white-space: nowrap;
}

.first_row_no_border .table > tbody > tr:first-child > td {
  border-top: 0;
}

.mydropzone {
  border: none;
}

.mydropzone .dz-preview{
  width: 100%;
}


.mydropzone .dz-preview .dz-details {
  padding: 2.5em 1em;
}

.mydropzone .dz-preview .dz-details .dz-filename {
  position: relative;
}

.mydropzone .dz-preview .dz-details .dz-filename input[type=radio] {
  opacity: 1;
  left: 0;
  position: relative;
}

.dropzone {
    border: none!important;
    padding: 0;
    /*height: 1900px!important;*/
    display: inline-block;
    width: 100%;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0!important;
}
.dropzone_single .dz-image img {
    width: 100%!important;
}
.dropzone .dz-preview .dz-image {
    height: 100%!important;
    width: 100%!important;
}
.dropzone .dz-preview.dz-image-preview, .dropzone .dz-preview.dz-file-preview {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      margin: 0 0 10px 0;
}
.single_dropzone .dropzone .dz-preview.dz-image-preview {
    width: 100%;
}
.dropzone_single {
  border-bottom: 1px solid #ccc!important;
}

.dropzone_single .dropzone .dz-preview {
    width: 100%;
}
#my-awesome-dropzone .dropzone .dz-preview {
    width: 24%;
}
.dropzone .dz-preview.dz-image-preview{
    /*float: left;*/
}

.dropzone .dz-preview:nth-child(5n+1) {
    clear:both;
}


.dz-details {
    padding-bottom: 5px!important;
}
.table-bordered > thead > tr > th {
    white-space: nowrap;
}

.first_row_no_border .table > tbody > tr:first-child > td {
  border-top: 0;
}

.dropzone {
  border: none;
}

.dropzone .dz-preview .dz-details {
  padding: 2.5em 1em;
}

.dropzone .dz-preview .dz-details .dz-filename {
  position: relative;
}

.dropzone .dz-preview .dz-details .dz-filename input[type=radio]{
    opacity: 1;
    left: 0;
    position: relative;
}

.multiple_dropzone {
  border:1px solid #ccc;
  min-height: 150px;
}

.multiple_dropzone .dz-preview.dz-image-preview{
  width: 33%!important;
}

.multiple_dropzone .dz-clickable{
  min-height: 150px;
  margin: 0;
  padding: 50px 0;
}